html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000;
}

.footer-box {
    height: 50%;
    width: 150%;
    background: #000000;
    position: absolute;
    bottom: 0;
    transform: translateY(150px) translateX(-20px) rotate(-7deg);
    box-shadow: 0 190px 200px 135px #212121;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    clear: both;
    text-align: left;
    font-size: 5em;
    color: #ffffff;
    margin-top: 10%;
    margin-left: 10%;
    background-image: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
    background-image: -moz-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
    background-image: -ms-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
    background-image: -o-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
    background-image: linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h1 span {
    color: #ffffff;
    font-size: 0.4em;
    line-height: 1em;
    clear: both;
}

p {
    margin-left: 10%;
    line-height: 1.5em;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #607D8B;
}

.intro p a:hover {
    background: #ffffff;
    color: #000000;
}

.btn {
    display: inline-block;
    margin: 1em 0;
    padding: 1em 2em;
    background: transparent;
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
}

.blue span {
    background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue {
    padding: .75em;
    font-size: 1em;
    font-weight: 100;
    line-height: 1;
    margin-left: 10%;
    letter-spacing: 1px;
}

.box .blue {
    box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75);
}

svg {
    background-color: #000;
    width: 100%;
    height: 100%;
    vertical-align: top;
    background: transparent;
}

circle {
    fill: none;
}

.footer {
    position: fixed;
    bottom: 45%;
    left: 30%;
    width: 100%;
    height: 70px;
    background: transparent;
    text-align: end;
    padding-right: 30px;
    padding-top: 10px;
}

.container {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.btn-outline {
    margin-top: 15px;
    border: solid 1px #bbbbbb;
    font-size: 24px;
    color: #bbbbbb;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 1px #bbbbbb;
    color: #000;
    background: #bbbbbb;
}

.btn-social {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 1px solid #bbbbbb;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 46px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.social-links {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/* Animations */

@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
